.box-field, .box-field-multi {
  display: inline-block;
  position: relative;
}

.box-field .display, .box-field-multi .display {
/*  width: 100px;
*/  background-color: white;
  color: black;
  height: 12px;
}

.box .close {
  float: right;
  width: 20px;
  height: 20px;
}

.box .close:hover {
  cursor: pointer;
} 

.box-field-multi .box .option {
  background: transparent url("/img/Icons/checkbox.png") no-repeat center left;
}

.box-field-multi .box .option.selected {
  background-image: url("/img/Icons/checkbox_sel.png");
}

.box-field .box, .box-field-multi .box {
  position: absolute;
  top: 30px;
  left: 0px;
  background-color: white;
  border: 1px solid gray;
  padding: 5px;
  color: black;
  z-index: 100;
}

.box-field .box .option, .box-field-multi .box .option {
  cursor: pointer;
  width: 120px;
  height: 20px;
  margin: 3px;
}

.errors {
  position: absolute;
  top: 25px;
  background-color: white;
  padding: 0;
  color: black;
  width: 100px;
}