.more-box.delete-history {
  background-color: red;
  color: white;
  width: 300px;
  padding: 5px;
  margin: 10px;
  float: right;
}

.more-box.delete-history .more {
  color: black;
}

#history .col {
  float: left;
}

#history .col0 {
  width: 167px;
}

#history .col1 .icon {
  width: 24px;
  height: 21px;
}

#history .col1 .icon.add {
  background: transparent url("/img/Icons/add.png") no-repeat center center;
}

#history .col1 .icon.edit {
  background: transparent url("/img/Icons/edit_mo.png") no-repeat center center;
}

#history .col1 .icon.delete {
  background: transparent url("/img/Icons/delete_mo.png") no-repeat center center;
}

#history .heading .col1 {
  font-weight: normal;
}

#history .col2 {
  width: 100px;
}

#history .col2 .more-box .showing {
  z-index: 0;
  position: relative;
}
#history .col2 .more-box .showing img {
  z-index: -1;
  position: relative;
}


#history .col3 {
  width: 100px;
}


#history .col4 {
  width: 150px;
}

#history .col7 {
  width: 100px;
}

.history-edit .col.nm {
  color: #CCC;
}