.more-box.delete-history {
   font-family: "times new roman";
   font-size: 16px;
   text-align: right;
   color: #C42700;
   margin: 0;
   margin-top: 36px;
}

.more-box.delete-history .more {
  color: black;
}

#history {
  min-height: 200px;
  margin-left: 48px;
}

#history .col1 .icon {
  cursor: auto;
}

#history .col {
  float: left;
}

#history .col {
  text-align: center;
}

#history .col0 {
  width: 167px;
}

#history .col1 .icon {
  width: 24px;
  height: 21px;
}

#history .col1 .icon.add {
  background: transparent url("/img/Icons/add.png") no-repeat center center;
}

#history .col1 .icon.edit {
  background: transparent url("/img/Icons/edit_mo.png") no-repeat center center;
}

#history .col1 .icon.delete {
  background: transparent url("/img/Icons/delete_mo.png") no-repeat center center;
}

#history .heading .col1 {
  font-weight: normal;
}

#history .col2 {
  width: 50px;
}

#history .col2 .category {
  width: 48px;
  height: 21px;
  margin: 0px auto;  
}

.category.alcohol {
  background-image: url("/img/Categories/alcohol.png");
}
.category.cash {
  background-image: url("/img/Categories/cash.png");
}
.category.entertainment {
  background-image: url("/img/Categories/entertainment.png");
}
.category.furnishings {
  background-image: url("/img/Categories/furnishings.png");
}
.category.groceries {
  background-image: url("/img/Categories/groceries.png");
}
.category.household {
  background-image: url("/img/Categories/household.png");
}
.category.misc {
  background-image: url("/img/Categories/misc.png");
}
.category.food {
  background-image: url("/img/Categories/kitchen.png");
}
.category.rent {
  background-image: url("/img/Categories/rent.png");
}
.category.toiletries {
  background-image: url("/img/Categories/toiletries.png");
}
.category.utilities {
  background-image: url("/img/Categories/utilities.png");
}

#history .col2 .more-box .showing {
  z-index: 0;
  position: relative;
}
#history .col2 .more-box .showing img {
  z-index: -1;
  position: relative;
}

#history .col2 .more {
  left: -5px;
}


#history .col3 {
  width: 100px;
  text-align: center;
}

#history .col3 .more {
  left: 23px;
}


#history .col4 {
  width: 150px;
}

#history .col4 .more {
  left:   10px;
}

#history .col5 .more {
  left: 15px;
}


#history .col7 {
  width: 180px;
  text-align: center; 
}

#history .col7 .more {
  left: 20px;
  width: 130px;
  text-align: left;
  padding-left: 15px;
  line-height: 20px;
}


.history-edit .col.nm {
  color: #CCC;
}