.more-box {
  position: relative;
}

.more-box .showing, .more-box .more {
  cursor: pointer;
}

.more-box .more {
  position: absolute;
  top: 130%;
  padding: 5px;
  border: 1px solid black;
  background-color: white;
  z-index: 100;
}

.more-box .more .point {
  width: 100%;
  height: 16px;
  margin-top: -17px;
  background: transparent url("/img/Other/point.png") no-repeat center center;
}

.more-box.delete-box .more .point {
  background-image: url("/img/Other/point_red.png");
}


.more-box.delete-box .more {
  border: 2px solid #C42700;
}