/*This is the styling for the About Us page, both the logged-in and logged-out versions*/
	
	/*This is the one exception to the rule of using css files other than the main file for styling content outside of the navigation bar.*/
	
	#above p, #below p {
		line-height: 19px;
	}
	
	#above {
		width: 100%;
		margin: 0;
		background-image: url("/img/Backgrounds/margin.png");
	}
	
	#abovecontents {
		width: 960px;
		height: 96px;
		margin-left: auto;
		margin-right: auto;
		background-image: url("/img/Backgrounds/grid.png");
	}
	
	#abovecontents p{
		width: 576px;
		margin-left: 192px;
	}
	
	
	/*Main Navigation*/
	
	
	#settings {
		float: left;
		background-image: url("/img/NavigationBar/nav_settings.png");
		width: 144px;
		height: 144px;
		margin-left: 192px;
		margin-right: 0;
		margin-top: 0;
		margin-bottom: 0;
	}
	
	#settings:hover {
		background-image: url("/img/NavigationBar/nav_settings_mo.png");
		cursor: pointer;
	}
	
	#signup {
		float: left;
		background-image: url("/img/NavigationBar/nav_signup.png");
		width: 144px;
		height: 144px;
		margin-left: 192px;
		margin-right: 0;
		margin-top: 0;
		margin-bottom: 0;
	}
	
	#signup:hover {
		background-image: url("/img/NavigationBar/nav_signup_mo.png");
		cursor: pointer;
	}
	
	#entries {
		float: left;
		background-image: url("/img/NavigationBar/nav_entries.png");
		width: 144px;
		height: 144px;
		margin-left: 72px;
		margin-right: 0;
		margin-top: 0;
		margin-bottom: 0;
	}
	
	#entries:hover {
	  background-image: url("/img/NavigationBar/nav_entries_mo.png");
	  cursor: pointer;
	}
	
	#login {
		float: left;
		background-image: url("/img/NavigationBar/nav_login.png");
		width: 144px;
		height: 144px;
		margin-left: 72px;
		margin-right: 0;
		margin-top: 0;
		margin-bottom: 0;
	}
	
	#login:hover {
	  background-image: url("/img/NavigationBar/nav_login_mo.png");
	  cursor: pointer;
	}
	
	#sel_about {
		float: left;
		background-image: url("/img/NavigationBar/sel_about.png");
		width: 240px;
		height: 144px;
		margin-left: 24px;
		mrgin-right: 0;
		margin-top: 0;
		margin-bottom: 0;
	}
	
	#logout{
		float: left;
		background-image: url("/img/NavigationBar/nav_logout.png");
		margin: 0;
		width: 144px;
		height: 144px;
	}

	#logout:hover {
		background-image: url("/img/NavigationBar/nav_logout_mo.png");
		cursor: pointer;
	}
	
/*Subnavigation*/
	
	#navbarcontents2 {
		background-image: url("/img/Backgrounds/nav_right.png");
		height: 120px;
		margin: 0;
	}
	
	#subnav {
		height: 72px;
		width: 960px;
	}
	
	#subnav1 {
		height: 72px;
		width: 240px;
		margin: 0;
		margin-left: 96px;
		float: left;
		background-image: url("/img/NavigationBar/subnav_above.png");
	}
	
	#subnav2 {
		height: 72px;
		width: 240px;
		margin: 0;
		float: left;
		background-image: url("/img/NavigationBar/subnav_below.png");
	}
	
	#subnav_about {
		height: 72px;
		width: 240px;
		margin: 0;
		margin-right: 144px;
		float: left;
		background-image: url("/img/NavigationBar/subnav_about.png");
	}
	
	#subnav1 p, #subnav2 p{
		font-family: "adobe caslon pro";
		font-size: 16px;
		text-align: center;
		margin-top: 36px;
		color: #5082A0;
		font-variant: small-caps;
	}
	
	#navbarcontents2 a {
		color: #383838;
		text-decoration: none;
	}
	
	#navbarcontents2 a:hover {
		color: #383838;
		text-decoration: underline;
	}
	
	#subnav3 {
		height: 24px;
		margin: 0;
	}
	
	#subnav3 p {
		font-family: "adobe caslon pro";
		font-size: 16px;
		text-align: center;
		color: #5082A0;
		font-variant: small-caps;
		margin: 0;
		margin-bottom: 6px;
		display: block;
	}
	
	#contact {
		font-family: "adobe caslon pro";
		font-size: 16px;
		text-align: center;
		color: #ffffff;
		font-variant: small-caps;
	}
	
	#contact a{
		text-decoration: none;
		color: #ffffff;
	}
	
	#contact a:hover {
		color: #ffffff;
		text-decoration: underline;
	}
		

	

	