/*This is the styling for the navigation bar on both the Entries page and the Log In page*/
	
	/*Main Navigation*/

	
	#settings {
		float: left;
		background-image: url("/img/NavigationBar/nav_settings.png");
		width: 144px;
		height: 144px;
		margin-left: 192px;
		margin-right: 0;
		margin-top: 0;
		margin-bottom: 0;
	}
	
	#settings:hover {
	  background-image: url("/img/NavigationBar/nav_settings_mo.png");
	  cursor: pointer;
	}
	
	#signup {
		float: left;
		background-image: url("/img/NavigationBar/nav_signup.png");
		width: 144px;
		height: 144px;
		margin-left: 192px;
		margin-right: 0;
		margin-top: 0;
		margin-bottom: 0;
	}
	
	#signup:hover {
	  background-image: url("/img/NavigationBar/nav_signup_mo.png");
	  cursor: pointer;
	}
	
	#sel_entries {
		float: left;
		background-image: url("/img/NavigationBar/sel_entries.png");
		width: 240px;
		height: 144px;
		margin-left: 24px;
		mrgin-right: 0;
		margin-top: 0;
		margin-bottom: 0;
	}
	
	#about:hover, #about_lo:hover {
	  background-image: url("/img/NavigationBar/nav_about_mo.png");
	  cursor: pointer;
	}
	
	
	#about {
		float: left;
		background-image: url("/img/NavigationBar/nav_about.png");
		width: 144px;
		height: 144px;
		margin-left: 24px;
		mrgin-right: 0;
		margin-top: 0;
		margin-bottom: 0;
	}

	#about_lo {
		float: left;
		background-image: url("/img/NavigationBar/nav_about.png");
		width: 144px;
		height: 144px;
		margin-left: 288px;
		margin-right: 0;
		margin-top: 0;
		margin-bottom: 0;
	}
	
	#logout{
		float: left;
		background-image: url("/img/NavigationBar/nav_logout.png");
		margin: 0;
		width: 144px;
		height: 144px;
		margin-left: 48px; 
	}
	
	#logout:hover {
		background-image: url("/img/NavigationBar/nav_logout_mo.png");
		cursor: pointer;
	}
	
	/*Subnavigation*/
	
	#navbarcontents2 {
		background-image: url("/img/Backgrounds/nav_mid.png");
		height: 120px;
		margin: 0;
	}
	
	#navbarcontents2_lo {
		height: 120px;
		margin: 0;
	}
	
	#subnav {
		height: 72px;
		width: 960px;
	}
	
	#subnav1 {
		height: 72px;
		width: 240px;
		margin: 0;
		float: left;
		margin-left: 120px;
		background-image: url("/img/NavigationBar/subnav_above.png");
	}
	
	#subnav2 {
		height: 72px;
		width: 240px;
		margin: 0;
		margin-right: 120px;
		float: left;
		background-image: url("/img/NavigationBar/subnav_below.png");
	}
	
	#subnav_entries {
		height: 72px;
		width: 240px;
		margin: 0;
		float: left;
		background-image: url("/img/NavigationBar/subnav_entries.png");
	}
	
	#subnav1 p, #subnav2 p{
		font-family: "times new roman";
		font-size: 16px;
		text-align: center;
		margin-top: 36px;
		color: #5082A0;
		font-variant: small-caps;
	}
	
	#navbarcontents2 a {
		color: #383838;
		text-decoration: none;
	}
	
	#navbarcontents2 a:hover {
		color: #383838;
		text-decoration: underline;
	}
	
	#subnav3 {

		height: 21px;
		margin: 0;

	}
	
	#navbar #subnav3 p {
		font-family: "times new roman";
		font-size: 16px;
		text-align: center;
		color: #5082A0;
		font-variant: small-caps;
		margin-top: 3px;
	}
	
	/*Forms*/
	
	form {
		margin: 0;
		text-align: center;
		color: white;
		height: 16px;
	}
	
	form p, form div {
		font-family: "times new roman";
		font-size: 15px;
		display: inline-block;
		vertical-align: top;
		position: relative;
		margin: 0;
/*    margin-right: 5px;
*/	}
	
	
	.enform1 .display {
    width: 96px;
    height: 18px
	}
	
	.enform1 .box-field .box {
	  left: 0px;
	  width: 120px;
	}
	
	.enform1 .box-field .box .option {
	  padding-left: 5px;
	}
	
	.enform2 input {
		width: 184px;
    height: 20px
	
	}
	
	.enform3 .display {
		width: 48px;
		height: 16px
	}
	
	.enform3 .box-field .box {
	  left: -55px;
	}
	
	.enform4 input {
		width: 80px;
		height: 20px
	}
	
	.enform5 input {
		width: 60px;
		height: 20px
	}
	
	.enform6 .display {
		width: 124px;
		height: 18px
	}
	
	.enform6 .box-field-multi .box {
	  left: -10px;
	}
	
	.entry-form .category .display {
	  background-position: center left;
	  background-repeat: no-repeat;
	  height: 20px;
	  width: 10px;
	  color: transparent;
	  overflow: hidden;
	  padding-left: 40px;
	}
	
	.category .box-field .box .option {
	  background-position: center left;
	  background-repeat: no-repeat;
	  padding-left: 45px;
	  padding-top: 0px;
	  height: 20px;
	}
		
  .category .alcohol, .category #alcohol {
    background-image: url("/img/Categories/alcohol.png");
  }
  .category .cash, .category #cash {
    background-image: url("/img/Categories/cash.png");
  }
  .category .entertainment, .category #entertainment {
    background-image: url("/img/Categories/entertainment.png");
  }
  .category .furnishings, .category #furnishings {
    background-image: url("/img/Categories/furnishings.png");
  }
  .category .groceries, .category #groceries {
    background-image: url("/img/Categories/groceries.png");
  }
  .category .household, .category #household {
    background-image: url("/img/Categories/household.png");
  }
  .category .misc, .category #misc {
    background-image: url("/img/Categories/misc.png");
  }
  .category .food, .category #food {
    background-image: url("/img/Categories/kitchen.png");
  }
  .category .rent, .category #rent {
    background-image: url("/img/Categories/rent.png");
  }
  .category .toiletries, .category #toiletries {
    background-image: url("/img/Categories/toiletries.png");
  }
  .category .utilities, .category #utilities {
    background-image: url("/img/Categories/utilities.png");
  }
  
/*  .category .box-field .box {
    width: 250px;
    left: -20px;
  }*/
	
	
	#loginform {
    margin-left: 220px;
		display: inline-block;
	}
	
	#navbar p {
	  color: white;
	  text-align: center;
	}
	
	#navbar p.inline {
	  display: inline-block;
  }
	#navbar p a {
	  color: white;
	}
	
	.logform {
		width: 144px;
		height: 16px
	}
	
	#loginform button.b {
    margin-right: 40px;
	}

	